# Descriptive statitics for dataset after extraction by coreNLP

In [25]:
import pandas as pd
import numpy as np

FILES = ['compbiology', 'biology', 'medicine', 'genetics', 'ntds', 'pathogenes', 'plosone', 'srep']

# edgelist acknow.
PATH_ROW_ACKNOW = '../../data/TreatedEdgeList21'

## Collected files after the extraction by coreNLP

In [37]:
for file in FILES:
    dfs[file] = pd.read_csv(f'{PATH_ROW_ACKNOW}/{file}.csv')
dfs[file].head()

/Users/keigokusumegi/.anyenv/envs/pyenv/versions/miniforge3-4.10/envs/network-analysis/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

             paperId          date       author               acknow  n_author
0  10.1038/srep00001  14_June_2011  Upasana_Ray          Akio_Nomoto         2
1  10.1038/srep00001  14_June_2011  Upasana_Ray          Itai_Benhar         2
2  10.1038/srep00001  14_June_2011  Upasana_Ray  Ralf_Bartenschlager         2
3  10.1038/srep00001  14_June_2011  Upasana_Ray        Takaji_Wakita         2
4  10.1038/srep00001  14_June_2011  Upasana_Ray        Stanley_Lemon         2

## Number of papers w/ acknowledgements

In [38]:
n_papers = []
min_years = []
max_years = []
n_acknows = []

for file in FILES:
    # years
    years = dfs[file]['date'].unique()
    years_fixed = sorted({int(i) if len(str(i)) == 4 else int(str(i).split('_')[-1]) for i in years}) # extract years
    min_years.append(min(years_fixed))
    max_years.append(max(years_fixed))
    
    # number of papers
    n_papers.append(dfs[file].paperId.nunique())
    
n_papers.append(dfs_all.paperId.nunique())
min_years.append(0)
max_years.append(0)

In [40]:
stats = pd.DataFrame.from_dict({'n_papers': n_papers,
                  'min_year': min_years,
                  'max_year': max_years,
                  'file': FILES+['total']}).set_index('file')
stats

             n_papers  min_year  max_year
file
compbiology      2440      2005      2017
biology          3383      2003      2021
medicine         1544      2004      2021
genetics         6831      2005      2021
ntds             4914      2007      2021
pathogenes       6281      2005      2021
plosone        136343      2006      2021
srep            41692      2011      2021
total          203428         0         0