# rowDataからdataframeを作る

In [1]:
import pandas as pd
import re

DATA_ACK_SREP = '../../data/original/edgelist-ack_srep'

DATA_ACK_PLOS = '../../data/original/edgelist-ack_plos_17'
DATA_ACK_PLOS21 = '../../data/original/edgelist-ack_plos_21'
FILES = ['compbiology', 'biology', 'medicine', 'genetics', 'ntds', 'pathogenes']

# SAVE_PATH = '../../data/treatedEdgeList-ack'
SAVE_PATH21 = '../../data/treatedEdgeList-ack_MAG'

# Read Raw Data

### srep

In [2]:
# srep
df_srep = pd.DataFrame()
for year in range(2011, 2022):
    _df = pd.read_csv(f'{DATA_ACK_SREP}/edgelist_{year}.txt',
                 sep=' ',
                 names=['paperId', 'date', 'author', 'acknow', 'n_author'])
    _df = _df.dropna()
    df_srep = pd.concat([df_srep, _df])

### plos に関しては2017までのもの

In [3]:
# plos
dfs = {}
# FILESの分野
n_files = 0
for file in FILES:
    _df = pd.read_csv(f'{DATA_ACK_PLOS}/Network1_{file}.txt',
                 sep=' ',
                 names=['paperId', 'date', 'author', 'acknow', 'n_author'])
    dfs[file] = _df

# plosone
df_plosone = pd.DataFrame()
for file in range(1, 21):
    _df = pd.read_csv(f'{DATA_ACK_PLOS}/Network1_Set{file}.txt',
                 sep=' ',
                 names=['paperId', 'date', 'author', 'acknow', 'n_author'])
    # drop na
    _df = _df.dropna()
    df_plosone = pd.concat([df_plosone, _df])
dfs['plosone'] = df_plosone

### plosに関して2017-2021のデータ

In [4]:
# plos
dfs21 = {}
# FILESの分野
n_files = 0
for file in FILES:
    if file == 'compbiology': # robots.txtに記載がなかったため
        continue
    _df = pd.read_csv(f'{DATA_ACK_PLOS21}/{file}_2021.txt',
                 sep=' ',
                 names=['paperId', 'date', 'author', 'acknow', 'n_author'])
    dfs21[file] = _df

# plosone
df_plosone21 = pd.DataFrame()
for file in range(21,36):
    print(file)
    _df = pd.read_csv(f'{DATA_ACK_PLOS21}/plosone_set{file}.txt',
                 sep=' ',
                 names=['paperId', 'date', 'author', 'acknow', 'n_author'])
    # drop na
    _df = _df.dropna()
    df_plosone21 = pd.concat([df_plosone21, _df])
    print(len(df_plosone21))
dfs21['plosone'] = df_plosone21

21
31656
22
105845
23
172411
24
261852
25
326451
26
398868
27
473156
28
536940
29
609520
30
673473
31
749902
32
819539
33
885674
34
946250
35
1004612

In [8]:
for file in FILES + ['plosone']:
    if file == 'compbiology': # robots.txtに記載がなかったため
        continue
    print(len(dfs[file]) + len(dfs21[file]))
    dfs[file]['date'] = dfs[file]['date'].apply(lambda x: str(x))
    dfs21[file]['date'] = dfs21[file]['date'].apply(lambda x: str(x))
    
    dfs[file] = pd.concat([dfs[file], dfs21[file]]).reset_index(drop=True).drop_duplicates() # after concatination, drop duplicated rows

    print(len(dfs[file]))
    print('=======\n')

286701
== duplicated row ==
111994
=======

311522
== duplicated row ==
137664
=======

573539
== duplicated row ==
190342
=======

442119
== duplicated row ==
218382
=======

499104
== duplicated row ==
220202
=======

6215878
== duplicated row ==
2009224
=======

In [6]:
for file in FILES:
    print(file)
    print(dfs[file].duplicated().sum())

compbiology
0
biology
0
medicine
0
genetics
0
ntds
0
pathogenes
0

In [22]:
file = 'biology'
dfs[file]

,paperId,date,author,acknow,n_author
0,10.1371/journal.pbio.0000001,2003,Alfred_Ian_Lee,C._M._Radding,6
1,10.1371/journal.pbio.0000001,2003,Alfred_Ian_Lee,N._D._Grindley,6
2,10.1371/journal.pbio.0000001,2003,Alfred_Ian_Lee,N._H._Ruddle,6
3,10.1371/journal.pbio.0000001,2003,David_G_Schatz,C._M._Radding,6
4,10.1371/journal.pbio.0000001,2003,David_G_Schatz,N._D._Grindley,6
...,...,...,...,...,...
175193,10.1371/journal.pbio.3000564,"Jul_23,_2020",Alexander_G._Bobylev,A._A._Rubel,20
175194,10.1371/journal.pbio.3000564,"Jul_23,_2020",Konstantin_S._Usachev,A._A._Rubel,20
175195,10.1371/journal.pbio.3000564,"Jul_23,_2020",Oleg._N._Demidov,A._A._Rubel,20
175196,10.1371/journal.pbio.3000564,"Jul_23,_2020",Igor_A._Tikhonovich,A._A._Rubel,20
175197,10.1371/journal.pbio.3000564,"Jul_23,_2020",Anton_A._Nizhnikov,A._A._Rubel,20

In [24]:
file = 'plosone'
dfs[file].to_csv(f"{SAVE_PATH21}/{file}.csv", index=False)

# save as csv 
# plos
for file in FILES:
    dfs[file].to_csv(f"{SAVE_PATH21}/{file}.csv", index=False)

## srepのhtmlで数字で表されている名前をアルファベットに変換します

In [25]:
def correct_name(name):
    
#     name = '&#225;Carlos_Gracia-L&#225;zaro-L&#225;zaro'
    names = name.split('&')

    list_original_names = []
    for ele in names:
        if len(ele) > 0:
            eles = ele.split(';')
            # change int to str 
            for i in eles:
                try:
                    list_original_names.append(chr(int(i[1:]))) # convert here
                except:
                    list_original_names.append(i)

    original_name = ''.join([str(elem) for elem in list_original_names])
    return original_name

In [27]:
df_srep['author'] = df_srep['author'].apply(correct_name)

In [28]:
df_srep[df_srep['paperId'] == 'article/2012/srep00325']

,paperId,date,author,acknow,n_author
446,article/2012/srep00325,21_March_2012,Carlos_Gracia-Lázaro,Comunidad_de_Aragón,4
447,article/2012/srep00325,21_March_2012,José_A._Cuesta,Comunidad_de_Aragón,4
448,article/2012/srep00325,21_March_2012,Angel_Sánchez,Comunidad_de_Aragón,4
449,article/2012/srep00325,21_March_2012,Yamir_Moreno,Comunidad_de_Aragón,4

### srepのdoiを変更します

In [35]:
# change srep's doi
df_srep['paperId'] = df_srep['paperId'].apply(lambda x: '10.1038/'+x.split('/')[-1]).tolist()

In [40]:
# srep
df_srep.to_csv(f"{SAVE_PATH21}/srep.csv", index=False)