# For precision check, we will randomly choise authors.

In [1]:
import ast
import pandas as pd
import numpy as np
import vaex
import os.path
from ast import literal_eval
from pathlib import Path

FILES = ['compbiology', 'biology', 'medicine', 'genetics', 'ntds', 'pathogenes', 'plosone', 'srep']

# Path to data
PATH_SAVED_CSV = '../../data-computed-MAG'
# PATH_MAG = '../../data-MAG/'
PATH_MAG = os.environ.get('DATA_MAG')

# Path to data to save
PATH_SAVE = '../../data-computed-MAG'
Path(PATH_SAVE).mkdir(parents=True, exist_ok=True) # create save dir if not exists

# Read MAG ID result

In [2]:
# result of collaboration identifier
df_determinedAcknow_oneId = pd.read_csv(f'{PATH_SAVED_CSV}/d1Collaboration_result.csv')

# result of citation identifier
df_result_cited = pd.read_csv(f'{PATH_SAVED_CSV}/references_result.csv')

In [3]:
# merge them
df_acknowId_d1collab_ref_merged = pd.merge(df_determinedAcknow_oneId, df_result_cited,  
          how='outer', on=['pid', 'acknow'])
# drop duplicated row
df_acknowId_d1collab_ref_merged = df_acknowId_d1collab_ref_merged.drop_duplicates(subset=['pid', 'acknow'])
df_acknowId_d1collab_ref_merged.head()

           pid      acknow  DetermindedAcknowId  ReferencedAuthorIds
0   2145218186  Aviv Regev         1.893730e+09                  NaN
2   2105003357  Aviv Regev         1.893730e+09                  NaN
4   2168608639  Aviv Regev         1.893730e+09                  NaN
12  2033343333  Aviv Regev         1.893730e+09         3.147624e+09
15  2105898083  Aviv Regev         1.893730e+09                  NaN

# create result dataset

In [4]:
# Acknoweldged scholars identified only by collaboration approach
df_acknowId_from_d1Collab = df_acknowId_d1collab_ref_merged[df_acknowId_d1collab_ref_merged['ReferencedAuthorIds'].isnull()]
# Acknoweldged scholars identified only by citation approach
df_acknowId_from_ref = df_acknowId_d1collab_ref_merged[df_acknowId_d1collab_ref_merged['DetermindedAcknowId'].isnull()]
# Acknoweldged scholars identified by both collaboration and citation approach
df_acknowId_from_both = df_acknowId_d1collab_ref_merged[df_acknowId_d1collab_ref_merged['DetermindedAcknowId'] == df_acknowId_d1collab_ref_merged['ReferencedAuthorIds']]

# IDs of acknowledged scholars
df_acknowId = pd.concat([df_acknowId_from_d1Collab, df_acknowId_from_ref, df_acknowId_from_both])

# make new acknowId col
df_acknowId['acknowId'] = [ int(row['DetermindedAcknowId']) if np.isnan(row['ReferencedAuthorIds']) else (row['ReferencedAuthorIds']) for i, row in df_acknowId.iterrows()]
df_acknowId['acknowId'] = df_acknowId['acknowId'].astype(int)
df_acknowId.head()

,pid,acknow,DetermindedAcknowId,ReferencedAuthorIds,acknowId
0,2145218186,Aviv Regev,1.893730e+09,NaN,1893730172
2,2105003357,Aviv Regev,1.893730e+09,NaN,1893730172
4,2168608639,Aviv Regev,1.893730e+09,NaN,1893730172
15,2105898083,Aviv Regev,1.893730e+09,NaN,1893730172
28,2145218186,Dalit May,2.800119e+09,NaN,2800119218

#  エッジリストを作成

#  Create Edgelist

### Merge with authors info of papers

In [5]:
# read paperAuthorAffiliation of MAG
vaex_mag_pauthorAffil = read_vaex(f'{PATH_MAG}/PaperAuthorAffiliations/PaperAuthorAffiliations.csv')

NameError: name 'read_vaex' is not defined

In [27]:
# summarise authors information of the acknowledged papers
vaex_row_paperinfo = vaex_mag_pauthorAffil[vaex_mag_pauthorAffil.PaperId.isin(df_acknowId.pid.tolist())]

# gropuby paper
df_row_paperinfo = vaex_row_paperinfo.to_pandas_df().rename({' AuthorId': 'AuthorId'}, axis=1)
df_row_paperinfo_groupby_paper = df_row_paperinfo.groupby('PaperId')['AuthorId'].apply(list).reset_index()
df_row_paperinfo_groupby_paper.head()

    PaperId                                           AuthorId
0  30683393  [2020286370, 2030482327, 2118626585, 211862658...
1  33210814                           [2064773457, 2194711037]
2  36655823  [2126235715, 2328750602, 2507239260, 260555830...
3  65828984                                       [2134761380]
4  72513637                                       [3187259509]

In [28]:
df_acknow_wCollaborater = pd.merge(df_acknowId, df_row_paperinfo_groupby_paper,  
          how='inner', left_on='pid', right_on='PaperId')

df_acknow_wCollaborater.head()

,pid,acknow,DetermindedAcknowId,ReferencedAuthorIds,acknowId,PaperId,AuthorId
0,2145218186,Aviv Regev,1.893730e+09,NaN,1893730172,2145218186,"[1219376531, 2079978182, 2125555973]"
1,2145218186,Dalit May,2.800119e+09,NaN,2800119218,2145218186,"[1219376531, 2079978182, 2125555973]"
2,2145218186,Ruth Hershberg,2.155149e+09,NaN,2155149074,2145218186,"[1219376531, 2079978182, 2125555973]"
3,2145218186,Yael Altuvia,2.212855e+08,NaN,221285518,2145218186,"[1219376531, 2079978182, 2125555973]"
4,2145218186,Lena Nekludova,NaN,1.991418e+09,1991417625,2145218186,"[1219376531, 2079978182, 2125555973]"

### drop the cases the acknowledging author is the same as the acknoweldged author

In [29]:
%%time
# drop the cases the acknowledging author is the same as the acknoweldged author
df_acknow_wCollaborater['acknowIsAuthor'] = df_acknow_wCollaborater.apply(lambda x: True if x['acknowId'] in x['AuthorId'] else False, axis=1) 
df_acknow_notAuthor = df_acknow_wCollaborater[~df_acknow_wCollaborater['acknowIsAuthor']]
df_acknow_notAuthor

CPU times: user 1.14 s, sys: 24.5 ms, total: 1.17 s
Wall time: 1.18 s

,pid,acknow,DetermindedAcknowId,ReferencedAuthorIds,acknowId,PaperId,AuthorId,acknowIsAuthor
0,2145218186,Aviv Regev,1.893730e+09,NaN,1893730172,2145218186,"[1219376531, 2079978182, 2125555973]",False
1,2145218186,Dalit May,2.800119e+09,NaN,2800119218,2145218186,"[1219376531, 2079978182, 2125555973]",False
2,2145218186,Ruth Hershberg,2.155149e+09,NaN,2155149074,2145218186,"[1219376531, 2079978182, 2125555973]",False
3,2145218186,Yael Altuvia,2.212855e+08,NaN,221285518,2145218186,"[1219376531, 2079978182, 2125555973]",False
4,2145218186,Lena Nekludova,NaN,1.991418e+09,1991417625,2145218186,"[1219376531, 2079978182, 2125555973]",False
...,...,...,...,...,...,...,...,...
229288,3118328364,Zhaoyang Wang,2.596801e+09,2.596801e+09,2596801132,3118328364,"[140022714, 2057551680, 2120368504, 2151741246]",False
229289,3118331071,Masayoshi Nishiyama,2.187045e+09,2.187045e+09,2187044629,3118331071,"[1887262164, 2188451550, 2188451550, 247605287...",False
229290,3127263314,Andrea Berton,1.974124e+09,1.974124e+09,1974123948,3127263314,"[2008829488, 2557919313]",False
229291,3127584525,Hans Keppler,2.099200e+09,2.099200e+09,2099200267,3127584525,"[1945867165, 2012994082, 2398974053]",False
229292,3127584525,Federica Schiavi,2.301209e+09,2.301209e+09,2301209342,3127584525,"[1945867165, 2012994082, 2398974053]",False

# Check mismatching authors as far as possible

In [30]:
# read Authors
vaex_mag_authors = vaex.open('../../data-MAG/Authors/Authors.csv.hdf5')

In [31]:
# Author id list
author_ids = [i for l in df_acknow_notAuthor['AuthorId'] for i in l]

# extract possible acknow ids
vaex_author_ids = vaex_mag_authors[vaex_mag_authors['AuthorId'].isin(author_ids)]

# to dataframe
df_author_ids = vaex_author_ids.to_pandas_df().rename({' AuthorId': 'AuthorId'}, axis=1)[['AuthorId', 'DisplayName']]
df_author_ids.head()

   AuthorId            DisplayName
0     15251  Padermsak Jarayabhand
1     27238           Flavio Roces
2     30645        Tatsuro Irimura
3     47587        Nicola Vianelli
4     52060           Björn Rogell

In [32]:
# explode `AuthorId` of df_acknow_notAuthor
df_acknow_notAuthor_exploded = df_acknow_notAuthor.explode('AuthorId')

In [33]:
# explode `AuthorId` of df_acknow_notAuthor
df_acknow_notAuthor_exploded = df_acknow_notAuthor.explode('AuthorId')

# merge to display author name
df_acknow_notAuthor_exploded_wAuthorName = pd.merge(df_acknow_notAuthor_exploded, df_author_ids,  
          how='inner', left_on='AuthorId', right_on='AuthorId')

df_acknow_notAuthor_exploded_wAuthorName.head()

,pid,acknow,DetermindedAcknowId,ReferencedAuthorIds,acknowId,PaperId,AuthorId,acknowIsAuthor,DisplayName
0,2145218186,Aviv Regev,1.893730e+09,NaN,1893730172,2145218186,1219376531,False,Hanah Margalit
1,2145218186,Dalit May,2.800119e+09,NaN,2800119218,2145218186,1219376531,False,Hanah Margalit
2,2145218186,Ruth Hershberg,2.155149e+09,NaN,2155149074,2145218186,1219376531,False,Hanah Margalit
3,2145218186,Yael Altuvia,2.212855e+08,NaN,221285518,2145218186,1219376531,False,Hanah Margalit
4,2145218186,Lena Nekludova,NaN,1.991418e+09,1991417625,2145218186,1219376531,False,Hanah Margalit

In [34]:
len(df_acknow_notAuthor_exploded_wAuthorName)

2148867

### (last name is same as DisplayName?) & (initial of FirstName is the same?)

In [35]:
# last name
df_acknow_notAuthor_exploded_wAuthorName['acknow_lastName'] = df_acknow_notAuthor_exploded_wAuthorName['acknow'].apply(lambda x: x.split(' ')[-1])
df_acknow_notAuthor_exploded_wAuthorName['author_lastName'] = df_acknow_notAuthor_exploded_wAuthorName['DisplayName'].apply(lambda x: x.split(' ')[-1])

# First Name initial
df_acknow_notAuthor_exploded_wAuthorName['acknow_firstInitial'] = df_acknow_notAuthor_exploded_wAuthorName['acknow'].apply(lambda x: x.split(' ')[0][0])
df_acknow_notAuthor_exploded_wAuthorName['author_firstInitial'] = df_acknow_notAuthor_exploded_wAuthorName['DisplayName'].apply(lambda x: x.split(' ')[0][0])

In [36]:
# check
df_possible_duplication_AuthAndAck = df_acknow_notAuthor_exploded_wAuthorName[(df_acknow_notAuthor_exploded_wAuthorName['acknow_lastName'] == df_acknow_notAuthor_exploded_wAuthorName['author_lastName']) & 
                                        (df_acknow_notAuthor_exploded_wAuthorName['acknow_firstInitial'] == df_acknow_notAuthor_exploded_wAuthorName['author_firstInitial'])]
df_possible_duplication_AuthAndAck.head()

,pid,acknow,DetermindedAcknowId,ReferencedAuthorIds,acknowId,PaperId,AuthorId,acknowIsAuthor,DisplayName,acknow_lastName,author_lastName,acknow_firstInitial,author_firstInitial
9007,2126992172,Junwen Wang,2.150333e+09,NaN,2150333319,2126992172,2947008211,False,Jun Wang,Wang,Wang,J,J
11443,2271385139,Chris Mungall,2.617423e+09,NaN,2617423061,2271385139,575195435,False,Christopher J. Mungall,Mungall,Mungall,C,C
11700,2077999711,Haeryoung Kim,2.161231e+09,NaN,2161231476,2077999711,2162707571,False,Hoguen Kim,Kim,Kim,H,H
15475,2276605232,Paul Thomas,3.019406e+09,NaN,3019405581,2276605232,2104490322,False,Paul D. Thomas,Thomas,Thomas,P,P
21070,1990760248,A. De Luca,2.425570e+09,NaN,2425569617,1990760248,2297057766,False,Andrea De Luca,Luca,Luca,A,A

In [37]:
len(df_possible_duplication_AuthAndAck)

1379

# randomly selected dataset for precision check

### Papers_srep(plos)

In [38]:
# read data
df_magpaper_id_doi_plos = pd.read_table(f'{PATH_MAG}/papers_plos.txt', sep=' ', names=['pid', 'doi'])
df_magpaper_id_doi_srep = pd.read_table(f'{PATH_MAG}/papers_srep.txt', sep=' ', names=['pid', 'doi'])
df_magpaper_id_doi = pd.concat([df_magpaper_id_doi_plos, df_magpaper_id_doi_srep])
# change doi to lower case
df_magpaper_id_doi["doi"] = df_magpaper_id_doi["doi"].str.lower()

# clear error row
s_vs = df_magpaper_id_doi['doi'].value_counts()
mag_available_dois = set(s_vs[s_vs.values == 1].index)
df_magpaper_id_doi2 = df_magpaper_id_doi[df_magpaper_id_doi['doi'].isin(mag_available_dois)]

df_magpaper_id_doi2.head()

          pid                           doi
0  1966827022  10.1371/journal.pcbi.1002887
1  1970867439  10.1371/journal.pone.0040555
2  1974609334  10.1371/journal.pmed.1000202
3  1985768873  10.1371/journal.pcbi.1000731
4  1991290371  10.1371/journal.pone.0090052

### PaperAuthorAffiliations

In [39]:
acknowId_set = set(df_acknow_notAuthor_exploded_wAuthorName['acknowId'].tolist())

In [40]:
len(acknowId_set)

175219

In [13]:
# read PaperAuthorAffiliations
vaex_authoAffil = read_vaex(f'{PATH_MAG}/PaperAuthorAffiliations/PaperAuthorAffiliations.txt')

file exists

In [42]:
%%time
# acknowId with some affiliation data
vaex_authoAffil_avail = vaex_authoAffil[(vaex_authoAffil['AuthorId'].isin(list(acknowId_set))) & ~(vaex_authoAffil['OriginalAffiliation'].isna())]['PaperId', 'AuthorId', 'OriginalAffiliation']
df_authoAffil_avail = vaex_authoAffil_avail.to_pandas_df()

CPU times: user 37.8 s, sys: 27 s, total: 1min 4s
Wall time: 58.6 s

In [43]:
df_authoAffil_avail.head()

   PaperId    AuthorId                                OriginalAffiliation
0     1273  2250460279           Landcare Research, Lincoln, New Zealand;
1     1688  2126056503  Department of Statistics, Rajshahi University,...
2     3161  2796594890                          Oxford-Brookes University
3     5825  3142115898   Canadian Cardiovascular Research Network, Bra...
4     8580  2132188389                                       Lubbock, USA

### format data before merging

In [44]:
# acknow info
df_acknow1 = df_acknow_notAuthor_exploded_wAuthorName[['pid', 'acknowId', 'acknow']]

# paper's author info
df_acknow2 = df_acknow_notAuthor_exploded_wAuthorName[['pid','DisplayName']].rename({'DisplayName': 'Authors'}, axis=1)
df_acknow3 = df_acknow2.groupby('pid')['Authors'].apply(set).reset_index()

# merge
df_acknow4 = pd.merge(df_acknow1, df_acknow3,  
          how='inner', on='pid')
df_acknow4.head()

,pid,acknowId,acknow,Authors
0,2145218186,1893730172,Aviv Regev,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}"
1,2145218186,2800119218,Dalit May,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}"
2,2145218186,2155149074,Ruth Hershberg,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}"
3,2145218186,221285518,Yael Altuvia,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}"
4,2145218186,1991417625,Lena Nekludova,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}"

### merge with doi

In [45]:
df_acknow_wPid = pd.merge(df_acknow4, df_magpaper_id_doi2,  
          how='inner', on=['pid'])

In [46]:
df_acknow_wPid.head()

,pid,acknowId,acknow,Authors,doi
0,2145218186,1893730172,Aviv Regev,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}",10.1371/journal.pcbi.0010001
1,2145218186,2800119218,Dalit May,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}",10.1371/journal.pcbi.0010001
2,2145218186,2155149074,Ruth Hershberg,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}",10.1371/journal.pcbi.0010001
3,2145218186,221285518,Yael Altuvia,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}",10.1371/journal.pcbi.0010001
4,2145218186,1991417625,Lena Nekludova,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}",10.1371/journal.pcbi.0010001

In [47]:
len(df_acknow_wPid)

2148867

### summarise affiliations for each author

In [48]:
df_authoAffil_avail_grouped = df_authoAffil_avail.groupby('AuthorId')['OriginalAffiliation'].apply(set).reset_index()

In [49]:
df_authoAffil_avail_grouped

          AuthorId                                OriginalAffiliation
0            30645  {Division of Chemical Toxicology and Immunoche...
1            52060  {School of Biological Sciences, Monash Univers...
2           129797  {Department of Plant Biochemistry, Albrecht-vo...
3           231683  {School of Plant Sciences and Food Security, T...
4           300766  {University of Ljubljana, Biotechnical Faculty...
...            ...                                                ...
165329  3211295092  {Division of Nano & Bio Technology, Daegu Gyeo...
165330  3211301692  {Centro de Estudios e Investigaciones, Univers...
165331  3211312350  {United States Department of Agriculture - Agr...
165332  3211316952  {College of Mechanical Engineering, Taiyuan Un...
165333  3211332430  {School of Life Science and Bioengineering, Th...

[165334 rows x 2 columns]

### merge with affiliation

In [50]:
df_acknow_wPid_wAffil = pd.merge(df_acknow_wPid, df_authoAffil_avail_grouped,  
          how='inner', left_on=['acknowId'], right_on=['AuthorId'])
df_acknow_wPid_wAffil = df_acknow_wPid_wAffil.drop_duplicates(subset=['pid', 'acknowId'])

In [51]:
len(df_acknow_wPid_wAffil)

216837

In [52]:
df_acknow_wPid_wAffil.head()

,pid,acknowId,acknow,Authors,doi,AuthorId,OriginalAffiliation
0,2145218186,1893730172,Aviv Regev,"{Nir Friedman, Tommy Kaplan, Hanah Margalit}",10.1371/journal.pcbi.0010001,1893730172,"{††Howard Hughes Medical Institute, Department..."
3,2105003357,1893730172,Aviv Regev,"{Nir Friedman, Tommy Kaplan, Naomi Habib, Hana...",10.1371/journal.pcbi.1000010,1893730172,"{††Howard Hughes Medical Institute, Department..."
7,2168608639,1893730172,Aviv Regev,"{Diego Miranda-Saavedra, Jianmin Fu, Wilhelm H...",10.1371/journal.pgen.1000549,1893730172,"{††Howard Hughes Medical Institute, Department..."
39,2105898083,1893730172,Aviv Regev,"{Adam Margolin, Todd R. Golub, Robert Gould, M...",10.1371/journal.pone.0007454,1893730172,"{††Howard Hughes Medical Institute, Department..."
49,2046231013,1893730172,Aviv Regev,"{Kei Yasuda, Pierre Duffau, Katherine Rothamel...",10.1371/journal.pone.0108553,1893730172,"{††Howard Hughes Medical Institute, Department..."

### merge mismatching candidates filter by lastname and first initial

In [53]:
# craete possibly same flag
df_possible_duplication_AuthAndAck['isPossiblyAuthor'] = [True] * len(df_possible_duplication_AuthAndAck)

# merge 
df_acknow_wPid_wAffil_wPossibleFlag = pd.merge(df_acknow_wPid_wAffil, df_possible_duplication_AuthAndAck[['pid', 'acknow', 'DisplayName', 'isPossiblyAuthor']],  
          how='left', on=['pid', 'acknow'])

df_acknow_wPid_wAffil_wPossibleFlag = df_acknow_wPid_wAffil_wPossibleFlag.fillna('-')

/var/folders/cl/qg_d03k53sgbj88sy5tbmbtc0000gn/T/ipykernel_5138/505879405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_possible_duplication_AuthAndAck['isPossiblyAuthor'] = [True] * len(df_possible_duplication_AuthAndAck)

In [54]:
len(df_acknow_wPid_wAffil)

216837

In [55]:
df_acknow_wPid_wAffil_wPossibleFlag = df_acknow_wPid_wAffil_wPossibleFlag.rename({'DisplayName': 'AuthorCandidate'})

In [56]:
# rename col
df_acknow_wPid_wAffil_wPossibleFlag = df_acknow_wPid_wAffil_wPossibleFlag.rename({'DisplayName': 'AuthorCandidate'})
# select cols.
df_toCheck = df_acknow_wPid_wAffil_wPossibleFlag[['doi', 'acknowId', 'acknow', 'OriginalAffiliation', 'Authors', 'isPossiblyAuthor', 'DisplayName']]
df_toCheck.head()

,doi,acknowId,acknow,OriginalAffiliation,Authors,isPossiblyAuthor,DisplayName
0,10.1371/journal.pcbi.0010001,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Nir Friedman, Tommy Kaplan, Hanah Margalit}",-,-
1,10.1371/journal.pcbi.1000010,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Nir Friedman, Tommy Kaplan, Naomi Habib, Hana...",-,-
2,10.1371/journal.pgen.1000549,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Diego Miranda-Saavedra, Jianmin Fu, Wilhelm H...",-,-
3,10.1371/journal.pone.0007454,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Adam Margolin, Todd R. Golub, Robert Gould, M...",-,-
4,10.1371/journal.pone.0108553,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Kei Yasuda, Pierre Duffau, Katherine Rothamel...",-,-

In [57]:
len(df_toCheck)

216941

In [58]:
df_toCheck

,doi,acknowId,acknow,OriginalAffiliation,Authors,isPossiblyAuthor,DisplayName
0,10.1371/journal.pcbi.0010001,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Nir Friedman, Tommy Kaplan, Hanah Margalit}",-,-
1,10.1371/journal.pcbi.1000010,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Nir Friedman, Tommy Kaplan, Naomi Habib, Hana...",-,-
2,10.1371/journal.pgen.1000549,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Diego Miranda-Saavedra, Jianmin Fu, Wilhelm H...",-,-
3,10.1371/journal.pone.0007454,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Adam Margolin, Todd R. Golub, Robert Gould, M...",-,-
4,10.1371/journal.pone.0108553,1893730172,Aviv Regev,"{††Howard Hughes Medical Institute, Department...","{Kei Yasuda, Pierre Duffau, Katherine Rothamel...",-,-
...,...,...,...,...,...,...,...
216936,10.1038/s41598-020-80660-z,2596801132,Zhaoyang Wang,{[Electromagnetic Compatibility Laboratory and...,"{Marcos Rubinstein, Farhad Rachidi, Mohammad A...",-,-
216937,10.1038/s41598-020-79271-5,2187044629,Masayoshi Nishiyama,"{Central Workshop, Osaka University, Toyonaka,...","{Kuan-Hsuan Su, King-Chuen Lin, Chia-Cheng Cha...",-,-
216938,10.1038/s41598-021-81652-3,1974123948,Andrea Berton,"{Institute of Clinical Physiology - CNR, Pisa,...","{Salvatore Filippo Di Gennaro, Alessandro Matese}",-,-
216939,10.1038/s41598-021-82174-8,2099200267,Hans Keppler,{Bayerisches Geoinstitut Universität Bayreuth...,"{Nobuyoshi Miyajima, Mainak Mookherjee, Geeth ...",-,-
216940,10.1038/s41598-021-82174-8,2301209342,Federica Schiavi,"{Université Clermont‐Auvergne CNRS, IRD, OPGC,...","{Nobuyoshi Miyajima, Mainak Mookherjee, Geeth ...",-,-

### possibly mismtaching acknowledged scholars

In [59]:
df_toCheck[df_toCheck['isPossiblyAuthor'] == True]

,doi,acknowId,acknow,OriginalAffiliation,Authors,isPossiblyAuthor,DisplayName
1369,10.1371/journal.pone.0135983,3023575283,J. Castilla,"{Instituto de Salud Pública de Navarra, Pamplo...","{Juan Carlos Galán, Inés Quintela, Tomás Pumar...",True,Jesús Castilla
1370,10.1371/journal.pone.0033139,3023575283,J. Castilla,"{Instituto de Salud Pública de Navarra, Pamplo...","{Ady Castro, Jenaro Astray, Miguel Delgado-Rod...",True,Jesús Castilla
1380,10.1371/journal.pone.0033139,3178586667,N. Soldevila,{CIBER Epidemiologia y Salud Pública (CIBERESP...,"{Ady Castro, Jenaro Astray, Miguel Delgado-Rod...",True,Núria Soldevila
1381,10.1371/journal.pone.0135983,2485000694,R. Ortiz de Lejarazu,{Departments of Microbiology and Internal Medi...,"{Juan Carlos Galán, Inés Quintela, Tomás Pumar...",True,Raúl Ortiz de Lejarazu
1388,10.1371/journal.pone.0033139,2444401880,V. Martín,"{Servicio Médico, Centro Penitenciario, León.}","{Ady Castro, Jenaro Astray, Miguel Delgado-Rod...",True,Vicente Martín
...,...,...,...,...,...,...,...
215753,10.1371/journal.pone.0073893,1338986525,Sabrina Danti,"{Neurology Unit, Versilia Hospital, Lido di Ca...","{Vanna Bottai, Serena Danti, M. Ghilardi, Luis...",True,Serena Danti
215847,10.1371/journal.pone.0089100,2295947587,Jinyu Zhang,"{Yunnan Academy of Agricultural Sciences, Inst...","{Li Wei, Yan-Li Zhao, Yuanzhong Wang, Shi-Hua ...",True,Ji Zhang
216014,10.1371/journal.pone.0199051,2550634220,Jeffery Bagust,{Anglo-European College of Chiropractic (AECC)...,"{Abdulla Faisal Alshaiji, Mohamed Wael Mohamed...",True,Jeff Bagust
216477,10.1038/srep10410,2805918574,Sung-Nam Lee,"{Department of Nano-Optical Engineering, Korea...","{Jinho Joo, Soo Min Hwang, Sung-Jin Eum, Geun ...",True,Seung Muk Lee
216721,10.1038/s41598-017-16062-5,3001529187,Ying-Cheng Chen,"{Institute of Atomic and Molecular Sciences, A...","{Jia-Kang Lin, Jian-Ting Xiao, Yong Fan Chen, ...",True,Yong Fan Chen

In [14]:
# chose randomly 300 scholars
sample1 = df_toCheck.sample(n=300, random_state=1)

NameError: name 'df_toCheck' is not defined

In [61]:
sample1[sample1['isPossiblyAuthor'] == True]

,doi,acknowId,acknow,OriginalAffiliation,Authors,isPossiblyAuthor,DisplayName
53628,10.1371/journal.pmed.1002175,2959314534,R. Tine,"{Service de parasitologie, faculté de médecine...","{A. C. Lo, Brian Greenwood, El Hadj Ba, Oumar ...",True,Roger Tine

In [155]:
# sample1.to_csv('check_affiliation2.csv', index=False)